.container{
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;
    
    &.top {
        top: 3%;
    }

    &.bottom {
        bottom: 5%;

        span {
            color: #f0cb67;
        }
    }

    
}

ion-slides {
    height: 100%;

    .slide-inner {
        margin-top: 150px;
        width: 75%;
        color: #fff;
        border-radius: 10px;
        background-color:#f0cb67;

        ion-item {
            --background: rgba(255,255,255,0.2);
            --border-radius: 10px;
            
            ion-input {
                --color: #72602f;
            }
        }
        ion-button {
            --background : #f8f8f8;
            --color:  #2f4fa7;
            --border-radius: 10px;
        }
    }
}

.background {
    background-image: url(../../../assets/img/img-login.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-top: -20px;
}

.logo-login {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 30px;
    position: center;
}
