<ion-content class="swiper-no-swiping" >
  <div class="background">

    <div class="container top" [hidden]="keyboard.isVisible">
      <img class="logo-login" src="../../../assets/img/logo-white.png" alt="">

      <ion-segment (ionChange)="segmentChanged($event)" value="login">
          <ion-segment-button value="login" color>
            <ion-label class="bold">Login</ion-label>
          </ion-segment-button>
          <ion-segment-button value="register">
            <ion-label class="bold">Cadastrar</ion-label>
          </ion-segment-button>
        </ion-segment>
    </div>

    <ion-slides class="mg-top-20">
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span class="bold">Login</span>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]= "userLogin.email"></ion-input>
          </ion-item>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" [(ngModel)]= "userLogin.senha"></ion-input>
          </ion-item>
  
          <ion-button class="ion-margin-top bold" (click)="login()" expand="block">
            Entrar
          </ion-button>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div class="slide-inner ion-padding">
          <span class="bold">Cadastro</span>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="text" placeholder="Nome"></ion-input>
          </ion-item>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]= "userRegister.email"></ion-input>
          </ion-item>
  
          <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" [(ngModel)]= "userRegister.senha"></ion-input>
          </ion-item>
  
          <ion-button class="ion-margin-top bold" (click)="register()" expand="block">
            Cadastrar
          </ion-button>
        </div>
      </ion-slide>
    </ion-slides>

    <div class="container bottom ion-text-center bold" [hidden]="keyboard.isVisible">
      <span>Salve uma vida, adote um amigo!</span>
    </div>
  </div>
</ion-content>

