
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700');
*{
    font-family: 'Montserrat', sans-serif;
}

.yellow {
    color: #f0cb67;
}

.blue {
    color: #2f4fa7;
}

.dark {
    color:  #1c1c1c;
}

.snow {
    color: #efefef;
}

.grey {
    color: #c1c1c1;
}

//espaçamentos
.no-margin {
    margin: 0px;
}
.center {
    text-align: center;
}

.mg-top-5 {
    margin-top: 5px;
}

.mg-top-10 {
    margin-top: 10px;
}

.mg-top-20 {
    margin-top: 20px;
}

.mg-top-30 {
    margin-top: 30px;
}

.mg-top-40 {
    margin-top: 40px;
}

.no-padding {
    padding: 0px;
}

.padding-40 {
    padding: 40px;
}

.padding-top-30 {
    padding-top: 30px;
}

//font style

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}
